.container {
    min-width: 100vw;
    min-height: 100vh;
    display:  flex;
    flex-direction: row;
  }



/* -------------------------- LEFT SIDE ------------------------------ */
.backIcon {
    padding: 5%;

    font-size: 32px;
    color: white;
    cursor: pointer;
}

.sideLeft {
    width: 40%;
    background-color: #0a2472;
}

.sideLeftContainer {
    width: 100%;
    height: 100%;
    padding: 32px;
    font-size: 1.5em;

    display: flex;
    justify-content: right;
    align-items: center;
}

.title {
    color: white;
}
.found {
    color: #FFC60A;
}

/* -------------------------- ............... ------------------------------ */



/* -------------------------- RIGHT SIDE ------------------------------ */
.sideRight {
    width: 60%;
    background-color: #a6e1fa;
}

.sideLeftContainer {
    width: 100%;
    height: 80%;
    padding: 32px;
    font-size: 1.5em;

    display: flex;
    justify-content: right;
    align-items: center;
}

.dynamicContainer {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;

    justify-content: space-around;
    align-items: center;
  }

.changeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.changeBtn {
    width: 200px;
    height: 48px;
    background-color:  transparent;
  
    margin: 8px;
  
    border: 1px solid transparent;
    border-radius: 20px;
    color: rgb(0, 0, 0);
  
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;  
}

.changeBtn:hover {
    text-decoration: underline;
}

.errorText {
    margin: 0 8px;
    padding: 0;

    font-size: 1em;
    color: darkred;
}



/* -------------------------- ............... ------------------------------ */

.connectionContainer {
    display: flex;
    flex-direction: column;

    justify-content: space-around;
    align-items: center;

    width: 60%;
    min-height: 40%;

    border-radius: 20px;
    background-color: #4895EF;
}

.inputsContainer {
    display:  flex;
    flex-direction: column;
}

.divInput {
    width: 100%;

    display:  flex;
    flex-direction: row;
    align-items: center;
    margin: 0.5em;
}

/* INPUTS CSS */

.checkIconX {
    font-size: 1em;
    cursor: pointer;
    margin: 16px;

    border: 1px solid transparent;
    border-radius: 10px;
    color: rgb(134, 0, 0);
}

.checkIconOK {
    font-size: 1em;
    cursor: pointer;
    margin: 16px;

    border: 1px solid transparent;
    border-radius: 10px;
    color: limegreen;
}

.showPasswordIcon {
    font-size: 1em;
    cursor: pointer;
    padding: 17px;

    border: 1px solid transparent;
    border-radius: 10px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    background-color: rgb(255, 255, 255);
}

.inputs {
    width: 264px;
    height: 52px;

    border: 1px solid transparent;
    border-radius: 10px;
    padding: 0.5em;
  }
  .inputs:focus {
    border-color: transparent;
    outline: none;
  }

  .passwordInput {
    width: 210px;
    height: 52px;

    border: 1px solid transparent;
    border-radius: 10px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    padding: 0.5em;
  }
  .passwordInput:focus {
    border-color: transparent;
    outline: none;
  }

  .signBtn {
    width: 200px;
    height: 32px;
    cursor: pointer;

    border: 1px solid transparent;
    border-radius: 10px;

    margin: 16px;

    color: white;
    font-weight: bold;
    background-color: #0a2472;
  }

  @media screen and (max-width: 960px) {
    .sideLeft {
        width: 10%;
        display: flex;
        justify-content: center;
    }
    .sideLeftContainer {
        display: none;
    }
    .sideRight {
        width: 90%;
    }
    .connectionContainer {
        width: 95%;
        min-height: 60%;
    }
    .backIcon {
        padding: 6px;
    
        font-size: 26px;
        color: white;
        cursor: pointer;
    }
  }