.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

.headerContainer {
  height: 10%;
  padding: 16px;

  border-bottom: 2px solid rgb(0, 0, 0, 0.7);
  background-color: #0a2472;
}

.container {
    overflow: auto;
    width: 100%;
    height: 90%;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.side,
.sideOther {
  width: 30%;
  height: 550px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-shrink: 0;
  overflow: auto;
}

/* SIDE TOP ------------------------------------------------------------ */
.profileInfo {
    width: 100%;
    height: 75%;
    background-color: rgb(240, 240, 240, 0.7);
    border-radius: 10px;
    padding: 6px;

    display: flex;
    flex-direction: column;
}
.profileInfoOther {
    width: 100%;
    height: 70%;
    background-color: rgb(240, 240, 240, 0.7);
    border-radius: 10px;
    padding: 6px;

    display: flex;
    flex-direction: column;
}
.imageContainer {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.imageDiv {
    display: flex;
    align-items: center;
    justify-content: center;

}
.profileImg {
    object-fit: cover;
    border-radius: 15%;

    border: 1px solid #007bff
}
.profileAbout {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.iconWithUsername {
    width: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.bardgeIcon {
    margin: 0 6px;
}

/* ----------------------------- */
.aboutUser {
    width: 100%;
    height: 70%;
}

.profileNames {
    display: flex;
    justify-content: center;
    font-weight: 600;
}
.name {
    margin: 0 3px
}
.biographydiv{
    font-size: 13px;
    width: 100%;
    max-height: 70%;
    margin-bottom: 4px;
    padding: 3px;
    border-radius: 5px;
    overflow: auto;
    border: 1px solid rgb(169, 169, 169, 0.5);

    display: flex;
    flex-wrap: wrap;
    word-break: break-all;
}


.contactList {
    width: 100%;
    height: 25%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.contactIcon {
    font-size: 16px;
    margin: 3px 10px;
}
.contactIcon:hover {
    transition: 0.8s;
    color: #FFC60A;
}

/* ^^^^^^^^^ SIDE TOP ------------------------------------------------------------ */

/* SIDE BTN ----------------------------------------------------------------------- */
.accountSettings {
    width: 100%;
    background-color: rgb(240, 240, 240, 0.7);
    border-radius: 10px;
    padding: 6px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.logoutDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoutBtn {
    margin: 6px 0;
    border-radius: 20px;
    border: transparent;
    width: 70px;
    height: 24px;
    cursor: pointer;
    background-color: azure;
  }
  .logoutBtn:hover {
    transition: 0.8s;
    border: transparent;
    background-color: #FFC60A;
  }

  /* -------------------------------------------------------------------------------------- */


/* ^^^^^^^^^^^^^^^^^^^ SIDE BTN ----------------------------------------------------------------------- */



.contentContainer {
    width: 70%;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contentDiv {
    width: 100%;
    height: 100%;
    background-color: rgb(240, 240, 240, 0.7);
    border-radius: 10px;
    padding: 6px;
}


/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */

.errorDiv {
    width: 100%;
    height: 90vh;

    padding: 64px;
    font-size: 2em;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}
.errorBtn {
    margin: 16px;
    border-radius: 20px;
    border: transparent;
    width: 128px;
    height: 40px;
    cursor: pointer;
    background-color: white;
  }
  .errorBtn:hover {
    transition: 0.8s;
    border: transparent;
    background-color: #FFC60A;
  }


/* ------------------------------------------------------------------------------- */



/* profileSection = DEFAULT ----------------------- */
.defaultSection {
    width: 100%;
    height: 100%;
}
/* ----------------------------- */
.btnBar {
    width: 100%;
    height: 64px;
    padding: 6px 12px 6px 12px;
}
.btnsContainer {
    width: 100%;
    height: 56px;
    background-color: white;
    padding: 6px;

    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 15px;
}


.btn {
    background-color: rgb(255, 255, 255, 0.5);
    border-radius: 0px;
    border: 1px solid transparent;
    border-bottom: 2px solid black;
    width: 128px;
    height: 40px;
    font-weight: 700;
    cursor: pointer;
  }
  .btn:hover {
    transition: 0.8s;
    border: transparent;
    color: #FFC60A;
    border-bottom: 2px solid #9e7900;
  }
  .createPostIcon {
    margin: 0 3px;
  }

/* ------------------------------- */

.cardsContainer {
    width: 100%;
    padding: 16px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap ;
}

/* ------------------------------------------------ */


@media screen and (max-width: 960px) {
    .container {
        flex-direction: column;
    }
    .side, .sideOther {
        width: 100%;
        padding: 0;
    }
    .sideOther {
        height: 450px;
    }
    .profileInfoOther {
        height: 100%;
    }
    .contentContainer {
        padding: 0;
        padding-top: 16px;
        height: auto;
        width: 100%;
    }
    .socialText {
        display: none;
    }
    .cardsContainer {
        justify-content: space-evenly;
    }
/*
    .profileImg {
        max-width: 120px;
        max-height: 120px;
    }
*/
}


/*     
.main {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        width: 100%;
      }
    .container {
        width: 100%;
        height: 90vh;
        padding: 16px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .side {
        margin-bottom: 12px;
        width: 100%;
        height: auto;
        padding: 0;
        display: flex;
        flex-direction: column;
      }
      .sideOther {
        margin-bottom: 12px;
        width: 100%;
        height: auto;
        padding: 0;
        display: flex;
        flex-direction: column;
      }
    .profileInfoOther {
        width: 100%;
        height: 100%;
        background-color: rgb(240, 240, 240, 0.7);
        border-radius: 10px;
        padding: 6px;
    
        display: flex;
        flex-direction: column;
    }
    .contentContainer {
        width: 100%;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .contentDiv {
        height: 100%;
    }
    .socialText {
        display: none;
    }
    .profileImg {
        max-width: 120px;
        max-height: 120px;
    }
 */
    